<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>1737154679605357033</string>
		<key>run_input_hash</key>
		<string>3423001728274085120</string>
		<key>run_directories</key>
		<string>H3CNH2_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3935882</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
